table.table
  thead
    tr.row-fluid
      th: |id
      th: |goods
      th: |total cost
      th: |author
      th: |description
      th: |status
  tbody
    tr.row-fluid.show-grid(ng-repeat="order in orders")
      td: {{order.id}}
      td: {{order.goods}}
      td: {{order.totalCost}}
      td: {{order.author}}
      td: {{order.description}}
      td: {{order.status}}

