!!!
html(ng-app="dashdash")

  head
    title dashdash.ru
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="/static/css/bootstrap-combined.min.css", rel="stylesheet")

  body
  
    .container-fluid
      block nav
        .navbar
          .navbar-inner
            a.brand(href="#/") dashdash.ru
            ul.nav
              li: a(href="#/orders") orders
              li: a(href="#/showcase") showcase
              li: a(href="#/goods") goods
            block user

     .row-fluid 
       .span6.offset3
         block login

     .row-fluid 
       .span12
         block content
           div(ng-view)

      block footer
        .row-fluid
          .span4.offset4
            span.twitter @dashdashru
            span.facebook @dashdash
            span.vkontakte @dashdash

    block templates

    script(src="/static/js/angular.js")
    script(src="/static/js/angular-cookies.js")
    script(src="/static/js/angular-resource.js")
    block scripts
